<div id="new_note">
    <%= form_with model: @note, remote:true, html: {id: "note_form"} do |note| %>
        <%= note.text_field :title, autocomplete: 'off', placeholder: "type to add a note...", class:"form_title" %>
        <%= note.text_area :description, autocomplete: 'off', placeholder: "description", class:"form_description" %>
        <%= note.hidden_field :group, value: '0' %>
    <% end %>
</div>
