<div class="modal fade" id="new_event">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header row">
        <button type="button" class="close col-sm-2" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title col-sm-8">Create New Event</h4>
        <div class = col-sm-2></div>
      </div>
      <div class="modal-body">
        <%= render 'form', task: @task %>
      </div>
    </div>
  </div>
</div>