<div id="note_grid">
    <% @notes.each do |note| %>
        <%= render partial: 'notes/note_short', locals: { note: note }%>
    <% end %>
</div>
<%= link_to "+", notes_path, method: :post, remote: true, class:"btn animated rotateIn", id:"new_note_button"%>
