<% if flash[:notes] %>
    <% flash[:notes].each do |message_type, message| %>
        <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
    <% end %>
<% end %>
<div id="note_grid">
    <% @notes.each do |note| %>
        <div id="note #{note.id}" class="note">
            <%= note.title %> 
            <br>
            <%= note.description %> 
        </div>
    <% end %>
<div>