@import "bootstrap-sprockets";
@import "bootstrap";

/* cool colors */
$lime: #b0eb00;
$bright-red: #b30015;
$dark-blue: #2a00b3;
$deep-cerulean: #0077b3;
$mid-cerulean: #66ccff;
$light-cerulean: #99ddff;
$bondi-blue: #00b0b3;
$cyan: #24fbff;
$heliotrope: #8a7dff;
$light-purple: #DBB1F0;
$light-green: #C6F0B1;
$silver-chalice: #a6a6a6;
$scorpion: #595959;
$tundora: #444;
$mine-shaft: #363636;
$cod-gray: #111;

$light-purple: #C99EE5;
$purple: #AB70CE;
$dark-purple: #8C4BB2;
$delete-red: #ad1457;

$light-blue: #9EDEE5;
$blue: #5ec8d4;
$light-green: #BBE59E;
$green: #81cf4a;
$light-red: #E5A59E;
$red: #d46a5e;

body {
    height: 100% !important;
    width: 100%;
    padding-top: 100px;
}

.jumbotron {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.calendar_container {
    background-color: white;
    width: 100% !important;
    min-width: 100% !important;
    padding: 20px;
    height: 100%;
}

#todo {
    border-left: 2px solid #d9d9d9;
    background-color: white;
}

.outer_container {
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 10px;
    background-color: white;
    height: 100%;
    width: 30%;
}

.inner_container {
    margin: 0 auto;
    text-align: center;
    padding: 50px;
}

.title_main {
    margin: 0 auto;
    border-radius: 10px;
    text-align: center;
    color: #ffffff;
    background-color: $purple;
    padding: 20px;
}

.footer_text {
    display:flex;
    justify-content: center;
    align-items: center;
}

.footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 25px;
    background: $silver-chalice;
    display:flex;
    justify-content: center;
    align-content: stretch;
    border-top: 1px solid black;
}

@mixin box_sizing {
    -moz-box-sizing:    border-box;
    -webkit-box-sizing: border-box;
    box-sizing:         border-box;
}

/* miscellaneous */

.debug_dump {
    clear: both;
    float: left;
    width: 100%;
    margin-top: 45px;
    @include box_sizing;
}



/* universtal style */

section {
    overflow: auto;
}

textarea {
    resize: vertical;
}

// .center {
//     // text-align: center;
//     display: flex;
//     justify-content: space-evenly;
//     flex-direction: row;
//     .col {
//         text-align: center;
//     }

// }

.center {
    text-align: center;
    h1 {
        margin-bottom: 10px;
    }
}


/* header */

#logo {
    font-family: sans-serif;
    float: left;
    margin-right: 10px;
    font-size: 2em;
    color: #fff;
    letter-spacing: -1px;
    font-weight: bold;


    &:hover {
        color: #fff;
        text-decoration: none;
        background-color:transparent;
      }
  }

#logo-container {
    display: flex;
    align-content: center;
    width: 50%;
}

header {
    &.navbar-inverse {
        background-color: $purple;
        border-bottom: 1px solid $purple;
    }
}

/* universal navigation bar */
.horizontal-title {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    .nav-link{
        &:hover {
            background-color: transparent;
            color: grey;
        }
    }
    .active {
        border: 1px solid #ddd;
        border-bottom: 1px solid white;
        color: black;
        &:hover {
            border: 1px solid #ddd;
            color: black;
            border-bottom: 1px solid white;
        }
    }
}

/* universal data table */
.general-box {
    background-color: white;
}

/* welcome message */
#welcome-message{
    margin-bottom: 2%;
    font-family: 'Roboto', sans-serif;
}

.title_font {
    font-size: 2em;
    color: #fff;
    letter-spacing: -1px;
    font-weight: bold;
}


.btn-primary {
    color: white !important;
    background-color: $purple !important;
}

/* sidebar */

aside {
    section.user_info {
      margin-top: 20px;
    }
    section {
      padding: 10px 0;
      margin-top: 20px;
      &:first-child {
        border: 0;
        padding-top: 0;
      }
      span {
        display: block;
        margin-bottom: 3px;
        line-height: 1;
      }
      h1 {
        font-size: 1.4em;
        text-align: left;
        letter-spacing: -1px;
        margin-bottom: 3px;
        margin-top: 0px;
      }
    }
  }

  .gravatar {
    float: left;
    margin-right: 10px;
  }

  .gravatar_edit {
    margin-top: 15px;
  }

  /* forms */
.modal-title {
    text-align: center;
}
  
.close {
    vertical-align: middle;
    margin-top: -10px !important;
}

.form-actions > .btn {    
    background: $purple !important;
    color: #fff !important;
}

.form-actions > .delete-event {
    background: $delete-red !important;
    width: 100%;
    margin-top: 10px;
}

input, textarea, select, .uneditable-input {
    border: 1px solid #bbb;
    width: 100%;
    margin-bottom: 15px;
    @include box_sizing;
  }

  input {
    height: auto !important;
  }

  #error_explanation {
    color: red;
    ul {
      color: red;
      margin: 0 0 30px 0;
    }
    border-color: transparent !important;
  }

  .field_with_errors {
    @extend .has-error;
    .form-control {
      color: $state-danger-text;
    }
    background-color: transparent !important;
    color: $state-danger-text;
    width: 100%;
  }

/* top navbar */
.navbar {
    .container {
            max-width: 100% !important;
            width: 100% !important;
            margin: 0% !important;
            padding: 0% !important;
            display: flex;
            justify-content: space-between !important;
    }
}
.head-nav {
    color: white !important;
    &:hover, &:focus{
        background-color: $dark-purple !important;
        -webkit-box-shadow: border-box;
           -moz-box-shadow: border-box;
                box-shadow: border-box;
    }
}


.dropdown-menu {
    background-color: $purple !important;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.link {
    color: $deep-cerulean !important;
    background-color: transparent;
    padding-right: 5px;
}

#top-bar {
    max-height: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
}

.profile-menu {
    display: flex;
    justify-content: flex-end;
    align-items: right;

}

.profile-menu-btn {
    padding-bottom: 0px !important;
    padding-top: 0px !important;
}

#profile {
    background-color: $purple;
}

/* Split the screen in half */
.split {
    height: 100%;
    width: 50%;
    position: fixed;
    top: 0;
    bottom: 0;
    overflow-x: hidden;
    padding-top: 50px;
    padding-bottom: 25px;
  }

  /* Control the left side */
  .left {
    left: 0;
  }

  /* Control the right side */
  .right {
    right: 0;
  }

  /* If you want the content centered horizontally and vertically */
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .centered_horizontally {
      display: flex;
      justify-content: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
  }

  .title {
      background-color:rgba(100,100,100,0.7);
      width: 100%;
      height: 5%;
      border: solid 2px;
      border-color: white;
      border-radius: 5px;
      h3 {
          text-align: center;
          padding-left: 10px;
          color: white;
          margin: 0px;
      }
      display: flex;
      flex-direction: column;
      justify-content: center;
      min-height: 40px;
  }

  .blue_open_note {
      background-color: $light-blue;
      border: 1px solid $blue;
      #form_title, #form_description, #form_submit {
          background-color: $light-blue;
      }
      #form_submit {
        &:hover {
            background-color: $blue;
        }
      }
  }

  .blue_note {
      background-color: $light-blue;
      border: 1px solid $blue;
      &:hover {
          background-color: $blue;
      }
      .delete_button {
        &:hover {
            background-color: $light-blue;
        }
      }
  }

  .purple_open_note {
      background-color: $light-purple;
      border: 1px solid $purple;
      #form_title, #form_description, #form_submit {
          background-color: $light-purple;
      }
      #form_submit {
        &:hover {
            background-color: $purple;
        }
      }
  }

  .purple_note {
      background-color: $light-purple;
      border: 1px solid $purple;
      &:hover {
          background-color: $purple;
      }
      .delete_button {
        &:hover {
            background-color: $light-purple;
        }
      }
  }


  .green_open_note {
      background-color: $light-green;
      border: 1px solid $green;
      #form_title, #form_description, #form_submit {
          background-color: $light-green;
      }
      #form_submit {
        &:hover {
            background-color: $green;
        }
      }
  }

  .green_note {
      background-color: $light-green;
      border: 1px solid $green;
      &:hover {
          background-color: $green;
      }
      .delete_button {
        &:hover {
            background-color: $light-green;
        }
      }
  }

  .red_open_note {
      background-color: $light-red;
      border: 1px solid $red;
      #form_title, #form_description, #form_submit {
          background-color: $light-red;
      }
      #form_submit {
        &:hover {
            background-color: $red;
        }
      }
  }

  .red_note {
      background-color: $light-red;
      border: 1px solid $red;
      &:hover {
          background-color: $red;
      }
      .delete_button {
        &:hover {
            background-color: $light-red;
        }
      }
  }

  .new_note {
      padding: 10px;
      display: flex;
      justify-content: space-around;
      align-content: space-around;
      align-self: center;
      width: 100%;
      border-radius: 10px;
      -webkit-box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
      -moz-box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
      box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
      animation-name: note_grow;
      animation-duration: 0.3s;
      #form_title {
          border: 0px;
          font-size: 1.2em;
          width: 100%;
          padding: 5px;
          display: inline-block;
          border-radius: 10px;
      }

      #form_description {
          border: 0px;
          width: 100%;
          height: 100px !important;
          padding: 5px;
          display: inline-block;
          border-radius: 10px;
          margin-top: 10px;
      }

      #note_footer {
          border-top: 1px solid gray;
      }

      #form_submit {
          border: 0px;
          width: 50%;
          padding: 5px;
          display: inline-block;
          border-radius: 10px;
          margin-top: 5px;
      }
      textarea:focus, input:focus{
         outline: none;
      }
  }

  @keyframes note_grow {
      0% {height: 20%;}
      100% {height: 100%;}
  }

  #note {
      display: flex;
      justify-content: space-around;
      align-content: space-around;
      align-self: center;
      border-radius: 10px;
    }

  #note_grid {
      display: grid;
      grid-template-columns: 50% 50%;
      margin: 2%;
      position: relative;
  }

  .note {
      margin: 5px;
      height: 42px;
      position: relative;
      display: flex;
      justify-content: center;
      align-content: center;
      border-radius: 10px;
      -webkit-box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
      -moz-box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
      box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
  }

  .delete_button {
      position: absolute;
      right: 0;
      height: 80%;
      border-radius: 50% !important;
      margin: 0 auto;
      margin: 5px;
  }

  #new_note_button {
      height: 60px;
      width: 60px;
      font-size: 60px;
      padding-top: 15px;
      position: absolute;
      right: 20px;
      bottom: 45px;
      text-align: center;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      border: 1px solid $dark-purple;
      color: white;
      background-color: $purple;
      &:hover {
          background-color: $light-purple;
      }
  }

  .color_button {
      height: 30px;
      width: 30px;
      border-radius: 50% !important;
      border: 1px solid gray !important;
  }

  .droppable {}